* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: montserrat;
  background-color: black;
}
.header {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  justify-content: left;
}
.logo {
  width: 200px;
  display: flex;
  align-items: center;
}
.container {
  background-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px;
}
.container > img {
  width: 70%;
}
.details {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#name {
  text-shadow: -3px 3px 2px rgb(0, 116, 0);
}
#portrayed {
  font-weight: 500;
}
#nickname {
  color: rgb(0, 88, 12);
}

@media all and (max-width: 1000px) {
  .container {
    grid-template-columns: 100%;
  }
  .container > img {
    width: 80%;
    max-width: 450px;
    margin: auto;
  }
  .details {
    font-size: 30px;
    margin-top: 20px;
  }
}
